
<%= render 'navbar/navbar' %>

<div class="container"> 
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-center">
                    <span style="font-size:18px;">一覧</span>
                </div>
            </div>
            <ul class="ul-unstyled">
                <% @listings.each do |listing| %>
                    <li class="panel-body">
                        <div class="row-table">

                            <div class="col-sm-7 col-lg-7 col-middle row-space-2">
                                <span class="listing-title"><%= listing.company %>,<%= listing.tel %>,<%= listing.kigyoutantou %><%= listing.comment %></span>
                            </div>
                            
                            <div class="col-md-3 col-sm-3 col-middle row-space-1">
                                <%= link_to "企業情報", manage_listing_basics_path(listing), class: "btn btn-primary pull-right" %>
                            </div>
                        </div>
                    </li>
                <% end %>               
            </ul>     
        </div>
        
    </div>
</div>